*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.part1{
    background-color: #1F2937;
    padding: 30px 20px 50px 0px;
}

.logo{
    font-size: 32px;
    font-weight: bolder;
    padding-left: 0%;

}
.header-body-right{
    width: 70%;
    max-width: 100%;
    position:relative;
}

.header-body-right img{
    transition: transform 0.3s ease; /* Smooth transition */

}

.header-body-right:hover img{
    transform: scale(1.2); /* Scale image to 200% on hover */
    z-index: 1;
}

.header-body-left{
    width: 70%;
    max-width: 100%;
}
h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.description{
    font-size:20px;
    margin: 0px;
}

.header{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 13%;
}

.cervelo{
    width: 80%;
    height: auto;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 8%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 8%;
    border: 5px solid rgb(94, 94, 94);
}
.links{
    display: flex;
    gap: 16px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    padding: 0px 200px;
    gap: 0px;
    color: white;

}

#btn-1{
    background-color: #3882F6;
    border-style: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
}


h2{
    font-size: 36px;
    margin-top: 3%;
    font-weight: 900;
    margin-bottom: 1%;
    color: #1F2937;

}

.allpics{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(94, 94, 94);
    margin-top: 5%;
    margin-bottom: 5%;
}

.firstpic, .secondpic, .thirdpic, .fourthpic {
    width: 15%;
    margin-bottom: 0px;
    overflow: hidden;
}

.firstpic img, .secondpic img, .thirdpic img, .fourthpic img {
    width: 95%;
    height: 80%;
    object-fit: cover; 
    border-radius: 8%;
    border: 5px solid rgb(94, 94, 94);
    transition: transform 0.3s ease;
}

.firstpic:hover img, .secondpic:hover img, .thirdpic:hover img, .fourthpic:hover img {
    transform: scale(1.7);
    z-index: 1;
}


.myquote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 50px;
    margin: 30px auto; 
    max-width: 100%; 
    box-sizing: border-box; 
}

.quote {
    font-size: 28px;
    text-align: center; 
    font-style: italic;
    color: #1F2937;
    margin: 10px 0;
}

.author {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: right; 
    width: 100%;
    padding-right: 15%;
}

.part3{
    display: flex;
    justify-content: center;
    margin: 40px;
}

.footer{
    width: 600px;
    height: 100px;
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-radius: 20px;
}

.footer-text{
    color: white;
}

.heading{
    font-size: 20px;
    font-weight: bolder;
}

.lasttext{
    font-family: sans-serif;
}

#button2{
    color: white;
    font-weight: bold;
    background-color: #3882F6; 
    border: 3px solid white;   
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 20px;
}

.part4{
    background-color: #1F2937;
    padding: 30px 0px;
}

.bottom-footer-text{
    color: white;
    text-align: center;
}